html,
body,
#root {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
p {
  margin: 0;
}

.product-image {
  width: 100%;
  max-width: 400px;
  height: 400px;
  object-fit: contain;
}

.product-image-wrapper {
  width: 400px;
  max-width: 100%;
  min-width: 0;
}

.favourite-btn {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #212529 !important;
  border-color: none !important;
  color: white;
}

.detail-card {
  background-color: #2b3035;
}